@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-image: linear-gradient(to right, #04b7e4, #f8d808);
  }
h1{
    text-align: center;
}
input{
    margin-left: 35%;
}

  #file-input{
    margin-bottom: 10px;
  }
  #output {
    white-space: pre-wrap;
    margin-bottom: 10px;
  }
  #download-btn {
    display: none;
    padding: 10px 20px;
    width: 300px;
    margin-left: 35%;
    text-align: center;
    background-color: #818685;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }